p { text-align: center; background-color: black; color: beige;}
b { text-align: center; background-color: black; color: beige;}
h1 {color: brown; text-align: center; margin-top: 10; border: 2%; border-style: groove;}
button { color: coral; border-radius: 5%; text-align: center;}
span { border: 2%; border-color: black; border-style: dotted;}
